<div id="logo" class="col-xs-2 col-xs-offset-0">
  <a href="/#/">
    <img class="img-responsive" ng-src="img/logo_nom_min.png" alt="Skilly Box" />
  </a>
</div>
<div id="middle" class="col-xs-4 col-xs-offset-2">
  <p>Apprendre</p>
  <label class="switch">
    <input type="checkbox" ng-model="isTeacher" ng-click="switchTeachLearn()">
    <div class="slider round"></div>
  </label>
  <p>Transmettre</p>
</div>
<div id="account" class="col-xs-3 col-xs-offset-1">
  <span id="account" class="learn-color">
    <a href="/#/connexion">Se connecter</a>
    <a href="/#/inscription">Créer un compte</a>
  </span>
</div>

<!--
<div class="col-xs-3 col-xs-offset-0" id="header-logo">

</div>
<div class="col-xs-6 col-xs-offset-0" id="header-middle">
  <ul id="header-links">
    <a src="#">
      <li>Apprendre</li>
    </a>
    <li><choice-button></choice-button></li>
    <a src="#">
      <li>Transmettre</li>
    </a>
  </ul>
</div>
<div class=" col-xs-3 col-xs-offset-0" id="account-links">
  <ul>
    <a href="#">
      <li>Se connecter</li>
    </a>
    <a href="#">
      <li>S'inscrire</li>
    </a>
  </ul>
</div>
-->
