<div id="logo">
  <h1><a href="/#/">Skilly Box</h1></a>
</div>
<div id="middle">
  <p>
    Apprendre</p>
    <choice-button></choice-button>
    <p>Transmettre
  </p>
</div>
<div id="account">
  <span id="account">
    <a href="/#/connexion">Se connecter</a>
    <a href="/#/inscription">Créer un compte</a>
  </span>
</div>

<!-- 
<div class="col-xs-3 col-xs-offset-0" id="header-logo">
  
</div>
<div class="col-xs-6 col-xs-offset-0" id="header-middle">
  <ul id="header-links">
    <a src="#">
      <li>Apprendre</li>
    </a>
    <li><choice-button></choice-button></li>
    <a src="#">
      <li>Transmettre</li>
    </a>
  </ul>
</div>
<div class=" col-xs-3 col-xs-offset-0" id="account-links">
  <ul>
    <a href="#">
      <li>Se connecter</li>
    </a>
    <a href="#">
      <li>S'inscrire</li>
    </a>
  </ul>
</div>
-->