<div class="col-xs-10 col-xs-offset-1 course">
  <h3>{{ course.title }}</h3>
  <hr/>
  <div class="row course-details">
    <div class="col-xs-3 col-xs-offset-0 picture thumbnail">
      <img ng-src="{{ course.photo }}" alt="Cours de sculpture" class="img-responsive" />
    </div>
    <div class="col-xs-9 col-xs-offset-0 details">
      <p class="cost">
        Coût : {{ course.cost | currency:"€":2 }}
      </p>
      <p class="lieu">
        Lieu : {{ course.location | uppercase }}
      </p> 
      <p class="info-button">
        <button class="btn btn-default">
          Plus d'infos
        </button>
      </p>
    </div>
  </div>

</div>