<div class="row" id="courses-feed" ng-init="loadCourses()">
  <div class="col-xs-12" style="text-align:center;padding-top: 20px">
    <form>
      <input type="checkbox"
        name="showMap"
        id="showMap-id"
        ng-model="showMap"
        ng-change="triggerSearch()"
      />
      <label for="showMap-id">Montrer les résultats sous forme de carte</label>
    </form>
    <div class="row"
         ng-repeat="course in courses">
      <course course="course"></course>
    </div>
    <div class="row">
      <a href="/#/publishdemand"><button class="customBtn">
        Effectuer une demande de cours
      </button></a>
    </div>
    <courses-map
      courses="courses"
      show-map="showMap">
    </courses-map>
  </div>
</div>
