<div id="logo">
  <h1><a href="/#/">Skilly Box</h1></a>
</div>
<div id="middle">
  <p>
    Apprendre</p>
    <choice-button></choice-button>
    <p>Transmettre
  </p>
</div>
<div id="account" ng-controller="AuthController as authCtrl">
  <span id="account">
    <a ng-click="authCtrl.logout()">Se déconnecter</a>
  </span>
</div>

<div id="side-panel">
  <div class="element">
    <img class="img-responsive" ng-src="img/icons/danger.png" alt="Notifications" />
  </div>
  <div class="element">
    <img class="img-responsive" ng-src="img/icons/envelope.png" alt="Messagerie" />
  </div>
  <div class="element">
    <img class="img-responsive" ng-src="img/icons/bar-chart.png" alt="Statistiques" />
  </div>
  <div class="element">
    <img class="img-responsive" ng-src="img/icons/parameters.png" alt="Paramètres" />
  </div>
</div>
