<div id="dashboard" ng-controller="DashboardController as dbCtrl">
  <div class="row personal-info">
    <div class="col-md-6 col-md-offset-1 border">
      <div class="photo">
        <img ng-src="img/users/martinez.jpg" class="img-responsive"/>
      </div>
      <table class="infos">
        <tr>
          <td>Nom</td>
          <td>{{ user.firstName | capitalize }} {{ user.lastName | initial }}</td>
        </tr>
        <tr>
          <td>Mail</td>
          <td>{{ user.email }}</td>
        </tr>
        <tr>
          <td>Description</td>
          <td>Étudiant en 3ème année d'école d'art, spécialisé dans la photographie.
            J'adore partager mes passions et rencontrer de nouvelles personnes.</td>
        </tr>
      </table>
    </div>
    <div class="col-md-3 col-md-offset-1 border">
      <h3>Nombre de skilly</h3>
      <p class="skilly-number">300</p>
      <p class="boutique">
        <a href="/#/askforcourse"><button class="customBtn red">
          Effectuer une demande de cours
        </button></a>
      </p>
    </div>
  </div>

  <div class="row current-courses">
    <div class="col-md-10 col-md-offset-1 border">
      <h3>Vos cours du moment</h3>
      <div class="row" ng-init="loadCurrentCourses()">
        <div class="col-xs-6 col-xs-offset-0">
          <h4>Cours suivis</h4>
          <p ng-hide="attendsCourses">
            Vous n'avez aucun cours pour le moment ! Inscrivez-vous aux cours qui vous passionnent.
          </p>
          <p ng-repeat="course in coursesAttended">
            {{ course.title }}
          </p>
          <p><a href="/#/learn"><button class="customBtn red">
            Les cours proposés
          </button></a></p>
        </div>
        <div class="col-xs-6 col-xs-offset-0">
          <h4>Cours enseignés</h4>
          <p ng-hide="teachesCourses">
            Vous n'enseignez aucun cours pour le moment ! Consultez les demandes de cours ou publiez le votre !
          </p>
          <p ng-repeat="lesson in lessonsTaught">
            {{ lesson.title }}
          </p>
          <p><a href="/#/publishcourse"><button class="customBtn red">
            Publier un cours
          </button></a></p>
          <p><a href="/#/teach"><button class="customBtn red">
            Les demandes de cours
          </button></a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="row personal-stats"><div class="col-md-10 col-md-offset-1 border">
    <div class="stat student">
      <p>student img</p>
      <h3>6h</h3>
      <table>
        <tr>
          <td>Nombre de cours suivis</td>
          <td>3</td>
        </tr>
        <tr>
          <td>Différents thèmes</td>
          <td>Bricolage, loisirs</td>
        </tr>
        <tr>
          <td>Titre du dernier cours</td>
          <td>Apprendre à faire une vidange</td>
        </tr>
      </table>
    </div>
    <div class="stat" id="studTeach-chart">
    </div>
    <div class="stat teacher">
      <p>teacher</p>
      <h3>8h</h3>
      <table class="blue">
        <tr>
          <td>Nombre de cours données</td>
          <td>4</td>
        </tr>
        <tr>
          <td>Différents thèmes</td>
          <td>Agriculture, académique, insolite</td>
        </tr>
        <!-- <tr>
          <td>Note moyenne</td>
          <td>4,2/5</td>
        </tr> -->
        <tr>
          <td>Titre du dernier cours</td>
          <td>Comment changer un fût</td>
        </tr>
      </table>
    </div>
  </div></div>
</div>
