<div class="simple-page">
  <div class="col-xs-10 col-xs-offset-1" id="notifications-list">
    <h3>Vos notifications</h3>
    <hr/>
    <div class="notification">
      <p>
        Nouveau notification : yo
        <a href="#">
          <span class="glyphicon glyphicon-new-window url" aria-hidden="true"></span>
        </a>
      </p><hr/>
    </div>
    <div class="notification">
      <p>
        Bien le bonjoir
        <a href="#">
          <span class="glyphicon glyphicon-new-window url" aria-hidden="true"></span>
        </a>
      </p><hr/>
    </div>
    <div class="notification">
      <p>
        Patatoïde
      </p><hr/>
    </div>
    <div class="notification">
      <p>
        Wesh
      </p><hr/>
    </div>
  </div>

</div>
