.container-fluid {
    padding: 0;
}

body header {
  padding: 10px 5px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  font-size: 1.4em;

  border-style: none none solid none;
  border-width: 2px;
  border-color: rgba(51, 153, 153, 0.7);
}

html body learn-color {
  color: rgba(51, 153, 153, 1);
}

html body teach-color {
  color: rgba(255, 102, 102, 1);
}

body header #logo {
  height: 60px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

body header #middle {
  height: 60px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  text-align: center;
}

header #middle p {
  display: inline-block;
}

header #middle p:first-child {
  color: rgb(51, 153, 153);
}

header #middle p:last-child {
  color: rgb(255, 102, 102);
}

header #middle .switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25.5px;
}

header #middle .switch input {display:none;}

header #middle .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(51, 153, 153);
  -webkit-transition: .4s;
  transition: .4s;
}

header #middle .slider:before {
  position: absolute;
  content: "";
  height: 19.5px;
  width: 19.5px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

header #middle input:checked + .slider {
  background-color: rgb(255, 102, 102);
}

header #middle input:focus + .slider {
  box-shadow: 0 0 1px rgb(255, 102, 102);
}

header #middle input:checked + .slider:before {
  -webkit-transform: translateX(19.5px);
  -ms-transform: translateX(19.5px);
  transform: translateX(19.5px);
}

header #middle .slider.round {
  border-radius: 25.5px;
}

header #middle .slider.round:before {
  border-radius: 50%;
}

header #account {
  height: 60px;

  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

header #account span a:first-child {
  margin-right: 5px;
}

body header #header-links a,
body header #account a {
  color: rgb(230, 57, 70);
  cursor: pointer;
  border: 2px solid rgba(0, 0, 0, 0);
  transition: border 1s;
  -webkit-transition: border 1s;
}

body header #header-links a,
body header #header-links a:link,
body header #header-links a:visited,
body header #header-links a:hover,
body header #header-links a:active {
  text-decoration: none;
  border-radius: 3px;
}

body header #account a,
body header #account a:link,
body header #account a:visited,
body header #account a:hover,
body header #account a:active {
  cursor: pointer;
  text-decoration: none;
  border-radius: 3px;
}

body header #header-links a:hover,
body header #account-links a:hover {
  text-shadow: 0 0 5px black;
}

header #side-panel {
  position: absolute;
  top: 100px;
  right: 0px;
  margin-right: 0;
}

header #side-panel .element {
  display: block;
  background-color: #9A12B3;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 6px;
  text-align:center;
  margin-right: 0;
}

header #side-panel .element img {
  max-width: 80%;
  display: inline-block;
  margin-right: 0;
}

body #recherche {
  background-image: url(img/library2.jpg);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  z-index: 5;
  padding-top: 300px;
  padding-bottom: 300px;
  text-align: center;
}

body #apprendre-ou-transmettre {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
}

body #apprendre-ou-transmettre span {
  display: inline-block;
  vertical-align: middle;
}

body #apprendre-ou-transmettre #canvas {}

body #form-recherche {
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 1.2em;
}

#form-recherche input {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  border-width: 1px;
  border-color: black;
  padding: 5px 8px;
}

#form-recherche input:focus {
  outline-style: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: black;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: black;
  opacity: 1;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: black;
  opacity: 1;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: black;
}


/* Course feed */

body #courses-feed {}

body #courses-feed .course {
  padding: 15px 0;
  text-align: left;
}

body #courses-feed .course .course-details {
  vertical-align: top;
}


/* Course map */

#courses-map-row {
  text-align: center;
  padding: 20px 0 0 15px;
}

#courses-map-row iframe {
  display: inline-block;
}

#courses-map {
  height: 500px;
  width: 100%;
}


/* Footer */

body div#footer {
  text-align: center;
  color: black;
  font-family: 'Roboto', sans-serif;
  padding-top: 15px;
  padding-bottom: 20px;
}

div#footer div {}


/* content */

body .content {
  padding-top: 150px;
}

/* freeline */

body .freeline {
  text-align: center;
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #9A12B3;
}

body .freeline .tail {
  font-weight: 400;
  font-size: 0.9em;
}

/* popin container */

body #popin-container {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

/* link-to-add */

#link-to-add {
  text-align: center;
  padding: 20px 0;
}

/* myForm */

.myForm {
  padding-top: 30px;
}
